body {
    font-family: 'Planatino', 'Georgia', Garamond, Verdana, Courier;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #D1C8E1;
}

p {
    font-size: 20px;
}

strong {
    font-weight: 700;
    color: #700548;
}

p { 
    font-size: 20px;
}

strong {
    font-weight: 700;
    color: #700548;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #FFFFFF;
    background-color: #7272AB;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Palatino Linotype", serif;
    font-weight: 700;
}

hr.cogs-ligh
hr.cogs-dark { 
    padding: 0;
    border: none;
    border-top: solid 2px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.cogs-light:after,
hr.cogs-dark:after {
    content: "\f085";
    font-family: FontAwesome; 
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

hr.cogs-light {
    border-color: white; <!-- add hex code ?-->
}

hr.cogs-light:after {
    background-color:  #CEBEA5; <!-- Change color code here -->
    color: white;
}

hr.cogs-dark {
    border-color: #FC3A51; <!--change color code here -->
}

hr.cogs-dark:after {
    background-color: #E8D5B7; <!--Change color code here --> 
    color: #FC3A51; <!-- change color code here -->
}

header {
    text-align: center; 
    background: #CEBEA5; <!-- CHANGES BACKGROUND FOR HEADER -->
    color: white; <!-- font for header change color -->
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    font-family: "Playfair Display", Georgia, "Palatino Linotype", serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

header .intro-text .subtext {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    <!-- just in case it doesnt work, just space back -->
    header .intro-text .name {
        font-size: 4.75em;
    }
     <!-- just in case it doesnt work, just space back -->
    header .intro-text .subtext {
        font-family: "Playfair Display", Georgia, "Palatino Linotype
    
    
    


    



    
    








    


